{
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 80,
  "jsxSingleQuote": true,
  "alwaysParens": false,
  "semi": false,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
