{
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 140,
  "jsxSingleQuote": true,
  "alwaysParens": false,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "semi": false,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
