.tags {
  .tags-name {
    color: @subTextColor;
    cursor: pointer;
  }

  .tags-name {
    &:hover {
      color: @link;
    }
  }

  .tags-slash {
    margin: 0 2px;
    color: @subTextColor;
  }
}
