.iconButton {
  &.ant-btn-text {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: @textColor;
    transition: background-color 0.3s ease-in-out;

    &:hover:not(.disable) {
      background: @transparent;
    }
  }

  &.small {
    &.ant-btn-sm {
      padding: 8px;
      height: 30px;
    }
  }

  &.large {
    &.ant-btn-lg {
    }
  }

  &.middle {
    padding: 8px;
  }

  .iconButton-icon {
    &.small {
      font-size: 16px;
    }

    &.large {
      font-size: 22px;
    }

    &.middle {
      font-size: 20px;
    }
  }

  .iconButton-text {
    margin-left: 5px;

    &.small {
      font-size: 14px;
    }

    &.large {
      font-size: 20px;
    }

    &.middle {
      font-size: 16px;
    }
  }
}
