// 表格行激活
.tableRowActive {
  td {
    background: rgba(@theme, 0.1) !important;
    color: @theme !important;
  }
}

.muiscTable-coverImageAndTitle {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    width: 50px;
    height: 50px;
    border-radius: @radius;
  }
}
