<!doctype html>
<html lang="ch">
    <head>
        <meta charset="utf-8"/>
        <title>在线音乐</title>
        <link href="//at.alicdn.com/t/font_2775987_4s6d7tnmnu9.css" rel="stylesheet">
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>