.audioVolume {
  display: flex;
  align-items: center;

  .volume-progressBar {
    width: 100px;

    .ant-slider-handle {
      border-color: @theme;
    }

    .ant-slider-track {
      background: @theme;
    }
  }
}
