.layout-header {
  height: 60px;
  background: @transparentBackground;
  position: sticky;
  top: 0;
  padding: 0 15%;
  box-shadow: @shadow;
  display: flex;
  z-index: 10;
  justify-content: space-between;

  .header-right {
    display: flex;
    align-items: center;

    .themeSwitching {
      margin: 0 25px;
    }

    .ant-switch-checked,
    .ant-switch {
      background: @subBackgroundColor;
    }
  }
}
