.musicPlayer {
  width: 100%;
  height: 70px;
  background: @transparentBackground;
  position: fixed;
  bottom: 0;
  z-index: 100;

  .musicPlayer-container {
    width: @main-width;
    margin: 0 auto;
    height: 100%;
    padding: 0 15px;
  }
}
