@import './assets/styles/animation';

html,
body {
  font-family: Consolas, 'CEYH-W04', Courier, monospace;
}

// 仓耳云黑 W04 字体
@font-face {
  font-family: 'CEYH-W04';
  src: url('./assets/font/TsangerYunHei-W04.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: @textColor;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 8px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: @scrollColor;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: @scrollColor;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: @backgroundColor;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 高斯模糊
.gaussianBlur {
  backdrop-filter: saturate(180%) blur(30px);
}
